@font-face {
  font-family: "Raleway";
  src: url("fonts/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-bold";
  src: url("fonts/static/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-extrabold";
  src: url("fonts/static/Raleway-ExtraBold.ttf");
}

body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  max-width: 1395px;
  margin: auto;
}

.bloc-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.titres {
  font-weight: bold;
  font-family: "Raleway-bold";
  font-size: 25px;
  width: 80%;
  word-wrap: break-word;
  margin: 20px 0px 15px 0px;
}

.titres2 {
  font-weight: bold;
  font-family: "Raleway-bold";
  font-size: 20px;
}

.titres3 {
  font-weight: bold;
  font-family: "Raleway-bold";
  font-size: 15px;
}

.titres4 {
  font-weight: bold;
  font-family: "Raleway-bold";
  font-size: 20px;
  padding-left: 30px;
}

.regulartypo {
  font-family: "Raleway";
  font-size: 14px;
}
.thintypo {
  font-family: "Raleway";
}

.thicctypo {
  font-family: "Raleway";
  font-weight: bold;
}

#header-principal {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.button {
  display: flex;
  align-self: flex-start;
  width: 7em;
  margin: 0px 0px 0px 120px;
  height: 50px;
}

.button2 {
}

.headerhebact {
  display: flex;
}

.logoReservia {
  width: 7rem;
  align-self: flex-start;
  margin-right: auto;
}

a {
  align-self: center;
}

a.nolink {
  text-decoration: none;
}

.txtblue {
  color: #0065fc;
}

.txtblack {
  color: black;
}

div.select {
  border-style: solid none none none;
  border-color: #0065fc;
}

.aligner {
  display: flex;
}

.alignerfiltres {
  display: flex;
  flex-wrap: wrap;
}

.filtrebutton {
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
}

.filtre-padding {
  padding-right: 20px;
}

.mapbox {
  display: flex;
  border-radius: 25px 0px 0px 25px;
  background: #f2f2f2;
  padding: 1px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.searchbox {
  display: flex;
  border-radius: 0px 25px 25px 0px;
  background-color: #0065fc;
  padding: 1px;
  width: 110px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-family: "Raleway-bold";
  font-size: 13.28px;
  color: white;
}

.search-icon {
  display: none !important;
}

.inputbox {
  display: flex;
  border-radius: 0px 0px 0px 0px;
  background-color: #f2f2f2;
}

.semibold {
  display: flex;
  font-family: "Raleway-bold";
  font-size: 13.28px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.moneybox {
  display: flex;
  background-color: #deebff;
  padding: 7px;
  width: 20px;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

.money {
  display: flex;
  font-family: "Raleway-bold";
  font-size: 13.28px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  justify-content: space-evenly;
  align-items: center;
  padding: 1px;
  padding-right: 16px;
  padding-left: 40px;
  height: 30px;
  position: relative;
  left: -32px;
}

.childbox {
  display: flex;
  background-color: #deebff;
  padding: 7px;
  width: 20px;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

.child {
  display: flex;
  font-family: "Raleway-bold";
  font-size: 13.28px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  padding: 1px;
  padding-right: 16px;
  padding-left: 40px;
  height: 30px;
  position: relative;
  left: -32px;
}

.heartbox {
  display: flex;
  background-color: #deebff;
  padding: 7px;
  width: 20px;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

.heart {
  display: flex;
  font-family: "Raleway-bold";
  font-size: 13.28px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  padding: 1px;
  padding-right: 16px;
  padding-left: 40px;
  height: 30px;
  position: relative;
  left: -32px;
}

.dogbox {
  display: flex;
  background-color: #deebff;
  padding: 7px;
  width: 20px;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

.dog {
  display: flex;
  font-family: "Raleway-bold";
  font-size: 13.28px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  padding: 1px;
  padding-right: 16px;
  padding-left: 40px;
  height: 30px;
  position: relative;
  left: -32px;
}

.heart:hover,
.dog:hover,
.child:hover,
.money:hover {
  color: #0065fc;
}

.info {
  display: flex;
  border: 1px solid #deebff;
  padding: 7px;
  width: 3px;
  height: 3px;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

.logement {
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.hebergement {
  display: flex;
  background-color: #f2f2f2;
  flex: 2;
  border-radius: 15px 15px 15px 15px;
  margin: 10px;
  padding: 40px;
  flex-direction: column;
}

.populaires {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  flex: 1;
  margin: 10px;
  padding: 35px;
  flex-direction: column;
}
.chartline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacearound {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.space-cartes {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.ensemble-hebergements1 {
  display: flex;
  align-items: center;
}

.ensemble-hebergements2 {
  display: flex;
  align-items: center;
}

.cartehebergement {
  display: flex;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  width: 210px;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  box-shadow: 2px 2px 20px silver;
  margin: 15px;
}

.cartehebergement:hover,
.cartehebergement2:hover,
.carte1:hover,
.carte2:hover,
.carte3:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.cartehebergement2 {
  display: flex;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  height: 120px;
  justify-content: flex-start;
  flex-direction: row;
  box-shadow: 2px 2px 20px silver;
  margin: 15px;
}

.textecartepopulaire {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.imagehebergement {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 204px;
  height: 90px;
  padding: 3px;
}

.imagehebergement2 {
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
  width: 120px;
  height: 115px;
  padding: 3px;
}

.auberge {
  display: flex;
  font-family: "Raleway-extrabold";
  font-size: 12px;
  padding-left: 12px;
  padding-bottom: 4px;
}

.nuit {
  display: flex;
  font-family: "Raleway";
  font-size: 11px;
  padding-left: 12px;
  padding-bottom: 4px;
}

.prix {
  display: flex;
  font-family: "Raleway-bold";
  font-size: 11px;
  padding-left: 3px;
}

.stars {
  display: flex;
  color: #0065fc;
  padding-left: 12px;
  padding-bottom: 4px;
}

.textposition {
  position: relative;
  top: 15px;
}

.stars2 {
  display: flex;
  color: #0065fc;
  padding-left: 12px;
  padding-bottom: 4px;
  position: relative;
  top: 50px;
}

.grey-star {
  color: #f2f2f2;
}

.padding {
  padding: 4px;
}

.carte1 {
  display: flex;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  height: 400px;
  width: 300px;
  justify-content: top;
  align-items: top;
  flex-direction: column;
  box-shadow: 2px 2px 20px silver;
  margin: 15px;
}

.imagecarte1 {
  object-fit: cover;
  height: 85%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.textactivité {
  display: flex;
  font-family: "Raleway-extrabold";
  font-size: 12px;
  padding-left: 12px;
  padding-top: 17px;
}

.conteneurmarseille {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 480px;
  width: 100%;
  margin: 10px;
}

.carte2 {
  display: flex;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  height: 219px;
  width: 325px;
  justify-content: top;
  align-items: top;
  flex-direction: column;
  box-shadow: 2px 2px 20px silver;
  margin: 15px;
}

.imagecarte2 {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.carte3 {
  display: flex;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  height: 150px;
  width: 325px;
  justify-content: top;
  align-items: top;
  flex-direction: column;
  box-shadow: 2px 2px 20px silver;
  margin: 15px;
}

.imagecarte3 {
  object-fit: cover;
  height: 60%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.color-pointer:hover {
  color: #0065fc;
}

.grey-box {
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
  justify-content: space-around;
}

.propos-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 50px;
}

.propostypo {
  display: flex;
  font-family: "Raleway-extrabold";
  font-size: 15px;
}

.propos-padding {
  padding: 9px;
}

@media all and (max-width: 700px) {
  #header-principal {
    flex-direction: column;
    justify-content: flex-start;
  }

  body {
    width: 100%;
  }

  .logoReservia {
    padding: 10px 0px 0px 10px;
  }

  .headerhebact {
    width: 50%;
  }

  div.select {
    border-style: none none solid none;
    border-color: #0065fc;
  }

  .titres {
    margin: 20px 0px 15px 19px;
  }

  .regulartypo {
    margin-left: 20px;
  }

  .aligner {
    margin-left: 20px;
  }

  .nodrop {
    position: absolute;
    right: 0;
    padding-right: 20px;
  }

  .search-icon {
    display: inline-block !important;
  }

  .search-text {
    display: none;
  }

  .spacearound {
    display: flex;
    flex-direction: column;
  }

  .hebergement:nth-child(1) {
    order: 2;
    background-color: white;
    width: 70%;
    margin-left: 45px;
  }

  .populaires:nth-child(2) {
    order: 1;
    border-radius: 0px 0px 0px 0px;
  }

  .cartehebergement {
    width: 90%;
  }

  .imagehebergement {
    width: 98%;
  }

  .carte1,
  .carte2,
  .carte3 {
    height: 120px;
    width: 90%;
  }

  .imagecarte1,
  .imagecarte2,
  .imagecarte3 {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 99%;
    height: 90px;
    padding: 3px;
  }

  .textactivité {
    padding-top: 4px;
  }

  .filtre-padding {
    margin-left: 20px;
  }

  .conteneurmarseille {
    max-height: unset;
    width: unset;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .taillemarseille {
    width: 80%;
    margin-left: 50px;
  }

  .grey-box {
    flex-direction: column;
  }

  .info {
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .hebergement:nth-child(1) {
    order: 2;
    background-color: white;
  }

  .populaires:nth-child(2) {
    order: 1;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    margin-left: 30px;
  }

  .headerhebact {
    width: 50%;
  }

  div.select {
    border-style: none none solid none;
    border-color: #0065fc;
  }
  .spacearound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cartehebergement {
    width: 90%;
  }

  .imagehebergement {
    width: 98%;
  }
  body {
    flex-direction: column;
    width: 900px;
    margin: none;
    padding: none;
  }

  .carte1,
  .carte2,
  .carte3 {
    height: 120px;
    width: 90%;
  }

  .imagecarte1,
  .imagecarte2,
  .imagecarte3 {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 99%;
    height: 90px;
    padding: 3px;
  }

  .textactivité {
    padding-top: 4px;
  }

  .conteneurmarseille {
    max-height: unset;
    width: unset;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 100px;
  }

  .titres4 {
    padding-left: 70px;
  }

  .taillemarseille {
    width: 80%;
  }

  .imagehebergement {
    width: 99%;
  }

  .space-cartes {
    margin-left: 40px;
  }

  .grey-box {
    background-color: white;
  }

  .titres {
    margin-left: 20px;
  }

  .regulartypo {
    margin-left: 20px;
  }

  .info {
    margin-left: 20px;
  }

  .aligner {
    margin-left: 20px;
  }

  .filtre-padding {
    margin-left: 20px;
  }

  .logoReservia {
    margin-left: 20px;
    margin-top: 15px;
  }
}
